<div class="container">
  <ul>
    <li>

      <span class="caret"><input type="checkbox" name="">Electronics</span>
      <ul class="nested">
        <li class="caret">
        	<label><input type="checkbox" > Laptops</label>
        	<ul class="nested">
        		 <li><label><input type="checkbox" > TVs</label></li>
        		<li><label><input type="checkbox" > Microphones</label></li>
        	</ul>
        </li>
       
      </ul>
    </li>
      <li>

      <span class="caret"><input type="checkbox" name="">Electronics</span>
      <ul class="nested">
        <li><label><input type="checkbox" > Laptops</label></li>
        <li><label><input type="checkbox" > TVs</label></li>
        <li><label><input type="checkbox" > Microphones</label></li>
      </ul>
    </li>

  </ul>
</div>
<style>
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}
</style>

<script type="text/javascript">
	

var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
  });
}
</script>
